:root {
  color-scheme: light;
  --color-bg-primary: #fcfbfc;
  --color-bg-secondary: #f4f4f8;
  --color-searchbar: #eeeff5;
  --color-placeholder: #bcc1ce;
  --color-text: #3b4452;
}

html.dark-theme {
  color-scheme: dark;
  --color-bg-primary: #38404e;
  --color-bg-secondary: #212633;
  --color-searchbar: #323948;
  --color-text: #f5fafd;
  --color-secondary: #adb2bf;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg-secondary);
}

/* #region Header */

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title actions"
    "search search";
  gap: 1rem;
  padding: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "title search actions";
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-placeholder);
  }
}

.header__brand {
  grid-area: title;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
}

.header__menu-toggle .fa-bars,
.header__menu-toggle .fa-close {
  font-size: 32px;
  color: #68a3ef;
  cursor: pointer;
}

.header__menu-toggle .fa-bars {
  display: block;
}

.header__menu-toggle .fa-close {
  display: none;
}

.header__menu-toggle.open .fa-bars {
  display: none;
}

.header__menu-toggle.open .fa-close {
  display: block;
}

.header__title {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    display: block;
  }
}

.header__search {
  grid-area: search;
  min-width: 0;
  padding: 0.5rem 1rem;

  background: var(--color-searchbar);
  border-radius: 0.5rem;
}

.header__search .fa-magnifying-glass {
  color: var(--color-placeholder);
}

.header__input {
  outline: none;
  border: none;
  background: inherit;
  color: var(--color-placeholder);
}
.header__input::placeholder {
  color: var(--color-secondary);
}

.header__actions {
  grid-area: actions;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.header__theme {
  padding: 0.25rem;

  border-radius: 2rem;
  background: var(--color-bg-secondary);
}

.header__theme .fa-solid {
  font-size: 20px;
}

.header__theme .fa-sun {
  color: #fadf98;
  cursor: pointer;
}
.header__theme .fa-moon {
  color: #6c86b5;
  cursor: pointer;
}

.header__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* #endregion  */

/* #region Sidebar */
.sidebar {
  background: var(--color-bg-secondary);

  position: absolute;
  top: 60px;
  left: -360px;
  width: 100%;
  height: 100%;

  transition: left 0.3s ease;

  border-top: 1px solid var(--color-placeholder);
}

.sidebar.open {
  left: 0;
}

.sidebar__links {
  font-size: 1.5rem;
  list-style: none;

  padding-left: 1.25rem;
}

.sidebar__item {
  margin-block: 1rem;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text);
  /* Removes mobile highlight */
  -webkit-tap-highlight-color: transparent;
}

.nav__link i {
  color: #68a3ef;
}

/* #endregion */

/* #region Main */
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}

.content__title {
  font-size: 1.625rem;

  padding-bottom: 0.625rem;
  border-bottom: 1px solid rgba(127.5, 127.5, 127.5, 0.1);
}

.card {
  display: flex;

  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: var(--color-bg-primary);
}
.card__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-weight: bold;
}
.card__details p {
  font-size: 1.5em;
}
.card__details span {
  width: fit-content;

  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.card__image {
  width: 120px;
  height: 120px;
  overflow: hidden;
  background: var(--color-bg-primary);
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image img:not([src]) {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* #endregion */

/* #region Animations & Transitions */
* {
  transition:
    background-color 0.3s linear,
    color 0.3s linear,
    border-color 0.3s linear;
}
/* #endregion */
