{% extends "auth_layout.html" %} {% block content %}
<form action="" class="auth__form-group">
  <h1 class="auth__form__title">Forgot Password?</h1>

  <img
    class="auth__form__image"
    src="{{ url_for('static', filename='images/forgot-password.png') }}"
    alt="forgot-pass image"
  />

  <span class="auth__form__description"
    >Enter your email below to reset your password.</span
  >

  <div class="auth__form__group">
    <label for="email" class="auth__form__label visually-hidden">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="auth__form__input"
      placeholder="Email"
    />
  </div>

  <button type="submit" class="auth__form__button">Reset Password</button>

  <span class="auth__form__description"
    >Back to <a class="auth__form__link" href="/auth/login">Login</a></span
  >
</form>
{% endblock %}
