{% extends "auth_layout.html" %} {% block content %}
<form class="auth__form-group" method="post">
  {{ form.hidden_tag() }}
  <h1 class="auth__form__title">Login</h1>

  <div class="auth__form__group">
    {{ form.email.label(class="auth__form__label visually-hidden") }}
    {{form.email(class="auth__form__input", placeholder="Email") }}
  </div>
  <div class="auth__form__group">
    {{ form.password.label(class="auth__form__label visually-hidden") }} {{
    form.password(class="auth__form__input", placeholder="Password") }}
  </div>

  {{ form.submit(class="auth__form__button") }}

  <a href="/auth/forgot-password" class="auth__form__link">Forgot password?</a>

  <span class="auth__form__description"
    >Don't have an account?
    <a class="auth__form__link" href="/auth/register">Register</a></span
  >
</form>
{% endblock %}
